<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MailgunAuthenticator" value="key-ed84a99928dc363d6ea878657439451a" />
    <add key="MailgunDomain" value="sandbox938c34ba68f5467099470ab1809bdc02.mailgun.org" />
    <add key="MailgunFrom" value="postmaster@sandbox938c34ba68f5467099470ab1809bdc02.mailgun.org" />
    <add key="MailgunUrl" value="https://api.mailgun.net/v3" />
    <add key="EmailText" value="Congratulations {0}, This is greeting email from Hypothesis. Thanks You" />
    <add key="SendGridApiKey" value="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" />
    <add key="SendGridFrom" value="test@example.com" />
    <add key="MailSubject" value="Welcome" />
    <add key="CCEmail" value="nilam.tare16@gmail.com" />
  </appSettings>
</configuration>